
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabel Mahasiswa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#" style ="font-family: 'Times New Roman', Times, serif;">UAS</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="dosen.html">Dosen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mahasiswa.html">Mahasiswa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="absensi.html">Absensi</a>
        </li>
        
      </ul>
    </div>
  </nav>
    <div id="app">

        <div class="container">
            <div class="py-5 text-center">
              <h2>Data Mahasiswa</h2>
              <p class="lead">Daftar Informasi mengenai Data Mahasiswa</p>
            </div>
              
            <div class="col-md-12">
              <h4 class="mb-3">User Data  <button class="btn btn-md btn-primary" v-on:click="resetForm()">Create new Mahasiswa</button>
              </h4>
                <table class="table table-striped">
                    <tr>
                        <th>NIM</th>
                        <th>Nama</th>
                        <th>Tanggal Lahir</th>
                        <th>Jurusan</th>
                        <th>ID_Jurusan</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="mhs in mahasiswa">
                        <td>{{ mhs.nim }}</td>
                        <td>{{ mhs.Nama }}</td>
                        <td>{{ mhs.Tanggal_Lahir }}</td>
                        <td>{{ mhs.Jurusan }}</td>
                        <td>{{ mhs.ID_Jurusan }}</td>
                        <td><button class="btn btn-md btn-warning" v-on:click="getEdit(mhs)">Edit</button></td>
                        <td><button class="btn btn-danger" v-on:click="getDelete(mhs)">Delete</button></td>
                    </li>
                </table>

                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                
            
                <h4 class="mb-3">Input Data</h4>
                <form class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="Nama">Nama</label>
                      <input  v-model="Nama" type="text" class="form-control" id="Nama" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Input Name.
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for=Tanggal_Lahir">Tanggal_Lahir</label>
                      <input v-model="Tanggal_Lahir" type="text" class="form-control" id="Tanggal_Lahir" value="" required>
                      <div class="invalid-feedback">
                        Date must available
                      </div>
                    </div>
                  </div>
      
                  <div class="mb-3">
                    <label for="Jurusan">Jurusan</label>
                      <input  v-model="Jurusan" type="text" class="form-control" id="Jurusan" placeholder="" value="" required>
                  </div>
      
                  <div class="mb-3">
                    <label for="ID_Jurusan">ID_Jurusan</label>
                      <input  v-model="ID_Jurusan" type="text" class="form-control" id="Jurusan" placeholder="" value="" required>
                  </div>
      
                  </div>
                
                  <hr class="mb-4">
                  <button v-if="!editMode && !deleteMode" v-on:click="createMahasiswa" class="btn btn-primary btn-lg btn-block" type="submit">Submit Data</button>
                  <button v-if="editMode" v-on:click="updateMhs" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
                  <button v-if="deleteMode" v-on:click="deleteMhs" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button>
                  
                </form>
              </div>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2021 FTI UNAI</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Privacy</a></li>
                  <li class="list-inline-item"><a href="#">Terms</a></li>
                  <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
              </footer>

    </div>
    

   <!-- Axios -->
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

   <script>
       var app = new Vue ({
           el: '#app',
           data: {
               errors: [],
               message: null,
               mahasiswa:[],
               userIdEdit: null,
               userIdDelete: null,
               editMode: false,
               deleteMode: false,
               Nama: '',
               Tanggal_Lahir: '',
               Jurusan: '',
               ID_Jurusan: ''
           },
            mounted: function() {
                this.getMhs();
            },
            methods: {
                getMhs() {
                    axios.get('https://62244d2b3af069a0f9b2cdf5.mockapi.io/mahasiswa')
                        .then(response => {
                            this.mahasiswa = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                createMahasiswa: function(){
                    axios.post('https://62244d2b3af069a0f9b2cdf5.mockapi.io/mahasiswa', {
                        Nama: this.Nama,
                        Tanggal_Lahir: this.Tanggal_Lahir,
                        Jurusan: this.Jurusan,
                        ID_Jurusan: this.ID_Jurusan,
                        nim:this.nim,
                    })
                    .then(response => {
                            this.getMhs();
                            this.message = "Your data has been submitted";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                  this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.userIdEdit = null;
                    this.Nama = null;
                    this.Tanggal_Lahir = null;
                    this.Jurusan = null;
                    this.ID_Jurusan = null;
                },
                getEdit: function (mahasiswa) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.userIdEdit = mahasiswa.nim;
                    this.Nama = mahasiswa.Nama;
                    this.Tanggal_Lahir = mahasiswa.Tanggal_Lahir;
                    this.Jurusan = mahasiswa.Jurusan;
                    this.ID_Jurusan = mahasiswa.ID_Jurusan;
                  },
                getDelete: function (mahasiswa) {
                  this.message = null;
                    this.deleteMode = true;
                    this.editMode = false;
                    this.userIdDelete = mahasiswa.nim;
                    this.Nama = mahasiswa.Nama;
                    this.Tanggal_Lahir = mahasiswa.Tanggal_Lahir;
                    this.Jurusan = mahasiswa.Jurusan;
                    this.ID_Jurusan = mahasiswa.ID_Jurusan;
                },
                updateMhs: function () {
                    axios.put(`https://62244d2b3af069a0f9b2cdf5.mockapi.io/mahasiswa/${this.userIdEdit}`, {
                        Nama: this.Nama,
                        Tanggal_Lahir: this.Tanggal_Lahir,
                        Jurusan: this.Jurusan,
                        ID_Jurusan: this.ID_Jurusan,
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getMhs();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
                // Delete mahasiswa
                deleteMhs: function () {
                    axios.delete(`https://62244d2b3af069a0f9b2cdf5.mockapi.io/mahasiswa/${this.userIdDelete}`)
                        .then(res => {
                            // handle success
                            this.message = "Your data has been deleted";
                            this.getMhs();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                }
             }
        })
        
    </script>


</body>
</html>